
:root {
  --primario: #8c0fb3;
  --secundario: #FCC43C;
  --tercer: #30043D;
  --Cuarto: #A144BD;
  --Quinto: #580770;
  --Sexto: #743188;
  --Septimo: #930BBD;

  /*Colores Redes*/
  --facebook: #007acc;
  --Instragram: #a04495;
  --YouTube: #d42428;
  --font-Monserrat: "Montserrat", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-barlow: 'Barlow Condensed', sans-serif;
  --font-barlows: 'Barlow ', sans-serif;
}

body {
  background-color: rgba(0, 0, 0);
  font-family: var(--font-lato);
}

h1,
h2,
h3 {
  font-weight: 500;
  color: var(--secundario);
  text-shadow: 0px 1px 3px;
  letter-spacing: 2px;
  font-family: var(--font-Monserrat);
}

hr.style-two {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, var(--secundario), var(--tercer), var(--primario));
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

/***********************************************************************************/

#navegacion{
  background: rgba(52, 58, 64, 0.5);
}

#img-logo {
  position: relative;
  width: auto;
  height: 7rem;
  left: 16px;
  top: 0px;
  bottom: 0;
}
.nav-link{
  margin: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
}




/**********************************************************************************/
.carousel-caption h2 {
  font-weight: 700;
  font-size: 4rem;
  font-family: var(--font-Monserrat);
}
.bloque-info p {
  font-size: 2rem;
}

@media(max-width: 1250px){
  .carousel-caption h2 {
    font-weight: 600;
    font-size: 3rem;
    font-family: var(--font-Monserrat);
  }
  .bloque-info p {
    font-size: 1rem;
  }
  
}

/*button CSS************************************************************************************************************/
.btn-warning {
  background-color: rgba(52, 58, 64, 0.8);
  color: #ffffff;
  font-size: 2rem;
  border-color: rgb(129, 14, 178, 0.5);
  font-family: var(--font-Monserrat);
  letter-spacing: 5px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  -webkit-border-radius: 22px 22px 22px 22px;
  border-radius: 22px 22px 22px 22px;
}

.btn-warning:hover {
  color: #ffffff;
  background: var(--tercer);
  box-shadow: 0 0 10px var(--tercer), 0 0 40px var(--tercer),
    0 0 80px var(--tercer);
  border-color: rgb(129, 14, 178, 0.5);
  background-color: var(--primario);
  -webkit-border-radius: 22px 22px 22px 22px;
  border-radius: 22px 22px 22px 22px;
  cursor: pointer;
}

/* Nosotros */
p {
  font-family: var(--font-Monserrat);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#form-1 h2 {
  font-size: 2rem;
  font-weight: 900;
}
#form-2 h2 {
  font-size: 2rem;
  font-weight: 900;
}

#form-3 h2 {
  font-size: 3rem;
  font-weight: 900;
}

#form-5 h2{
  font-size: 3rem;
  font-weight: 900;
}

#form-5 h3{
  font-size: 1.5rem
}

#form-5 p{
  font-size: 1rem;
}

@media (max-width: 1200px) {
  #form-1 h2 {
    font-size: 2rem;
  }
  #form-5 h2{
    font-size: 1.5rem;
  }
  #form-5 h3{
    font-size: 1.5rem;
  }
  
  #form-5 p{
    font-size: 1rem;
  }
}


@media (max-width: 800px) {
  #form-5 h2{
    font-size: 0.5rem;
  }
  #form-5 h3{
    font-size: 0.5rem;
  }
  #form-5 p{
    font-size: 0.5rem;
  }
  #form-1 h2 {
    font-size: 2rem;
  }
}


#form-1 {
  background: var(--Quinto);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  height: 20rem;
}

#form-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  height: 20rem;
}

#form-3 {
  background: var(--Quinto);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  height: 20rem;
}


#form-4 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  height: 20rem;
}

#form-5 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  height: 20rem;
}

#form-4 img {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  width: 100rem;
  height: 20rem;
}

#form-2 img {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  height: 15rem;
  
}

@media(max-width: 900px){
  #form-4 img {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  
    width: 80rem;
    height: 18rem;
  }
  
}

/*****************************************************************************************/
.sobre-nosotros h3 {
  letter-spacing: 0.5rem;
  font-size: 2rem;
  font-weight: 300;
  color: #ffffff;

  font-family: var(--font-Monserrat);
  text-shadow: 2px 4px 3px #8c0fb3;
}

@media (max-width: 800px) {
  .sobre-nosotros h3 {
    letter-spacing: 0rem;
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;

    font-family: var(--font-Monserrat);
    text-shadow: 2px 4px 3px #8c0fb3;
  }

}

/** Preguntas y Anuncios**/
.anuncios .card {
  margin-bottom: 2rem;
  -webkit-box-shadow: 8px 15px 15px 1px rgba(129, 14, 178, 0.6);
  box-shadow: 8px 15px 15px 1px rgba(129, 14, 178, 0.6);
}

.card {
  -webkit-border-radius: 0px 22px 22px 22px;
  border-radius: 0 22px 22px 22px;
  background-color: var(--primario);
}

.card-header button{
  color: #ccc;
  font-size: 2rem;
}

.btn-outline-info{
  border-radius: 22px 22px 22px 22px;

}


.card-text {
 font-family: var(--font-Monserrat);
  text-align: justify;
  color: white;
}


/** Blog **/
.entrada {
  background-color: rgba(234, 174, 55, 1.5);
  background-blend-mode: soft-light;
}

.entrada h3::after {
  content: "";
  display: block;
  width: 8rem;
  height: 0.2rem;
  background-color: #71b100;
  clear: both;
  margin-top: 0.5rem;
}

.entrada span {
  color: #e08709;
}


/** Box Shadow **/
#icono-1,
#icono-2,
#icono-3 {
  -webkit-box-shadow: 3px 2px 4px 1px rgba(161,68,189);
  box-shadow: 3px 2px 4px 1px rgba(161,68,189);
  -webkit-border-radius: 0 1px 1px 45px;
  border-radius: 0 1px 1px 45px;
}

.fixed-top.bg-success {
  -webkit-box-shadow: 0px 5px 19px -5px rgba(255, 255, 255, 0.44);
  -moz-box-shadow: 0px 5px 19px -5px rgba(252, 252, 252, 0.44);
  box-shadow: 0px 5px 19px -5px rgba(255, 255, 255, 0.44);
}

.fixed-top {
  transition: all 0.5s ease;
}

.fixed-top .nav-link {
  color: #e08709;
}

.fixed-top .active {
  background-color: #752f97 !important;
}

/*Animacion Css*/
.animate__animated .animate__flash {
  animation-duration: 10s;
}

/*Icons **************************************************************/
#icono-play {
  height: 3rem;
  width: 2rem;
  margin-right: 0.5rem;
  image-rendering: auto;
}

/*Button Carrusel 1***************************************************************/
#button-1,
#button-2 {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 0.8rem;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  font-family: var(--font-Monserrat);
  
}

#button-1:hover,
#button-2:hover {
  color: #ffffff;
  background: var(--tercer);
  box-shadow: 0 0 10px var(--tercer), 0 0 40px var(--tercer),
    0 0 80px var(--tercer);
  border-color: rgb(129, 14, 178, 0.5);
  background-color: var(--primario);
  -webkit-border-radius: 22px 22px 22px 22px;
  border-radius: 22px 22px 22px 22px;
  cursor: pointer;
}

/** Footer ***************************************************************************************/
ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #151414;
position: relative;
}
.footer-cta {
border-bottom: 3px solid #373636;
}
.single-cta i {
color: #930BBD;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 20px;
}
.footer-logo img {
  max-width: 200px;
}

.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}

.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: var(--Septimo);
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: var(--Septimo);
text-decoration:none;
}
.footer-widget ul li a {
color: #fff;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: var(--Cuarto);
  padding: 13px 20px;
  border: 1px solid var(--Cuarto);
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: var(--tercer);
padding: 20px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #ccc;
}
.copyright-text p a{
color: var(--Cuarto);
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: var(--Cuarto);
}
.footer-menu li a {
font-size: 14px;
color: #d42428;
}

#img-1:hover {
  border-radius: 22px 22px 22px 22px;
  background: var(--facebook);
  box-shadow: 0 0 10px var(--facebook), 0 0 40px var(--facebook),
    0 0 80px var(--facebook);
}
#img-2:hover {
  border-radius: 22px 22px 22px 22px;
  background: var(--Instragram);
  box-shadow: 0 0 10px var(--Instragram), 0 0 40px var(--Instragram),
    0 0 80px var(--Instragram);
}
#img-3:hover {
  border-radius: 22px 22px 22px 22px;
  background: var(--YouTube);
  box-shadow: 0 0 10px var(--YouTube), 0 0 40px var(--YouTube),
    0 0 80px var(--YouTube);
}
